@mixin button-variant($color, $background-color, $border-color, $hover-color: $color, $hover-background-color: $background-color, $hover-border-color: $border-color) {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;

    &.isActive,
    &:focus,
    &:hover {
        color: $hover-color;
        background-color: $hover-background-color;
        border-color: $hover-border-color;
    }
}
