@mixin link-reverse() {
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

@mixin link-none() {
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
    }
}
