// Common
$badge-color: var(--badgeColor) !default;

// Link
$badge-link-text-decoration: nones !default;

// Link#hover
$badge-link-hover-text-decoration: nones !default;

// Btn
$badge-btn-text-decoration: $badge-link-text-decoration !default;

// Btn#hover
$badge-btn-hover-color: $ui-color-white !default;
$badge-btn-hover-text-decoration: $badge-link-hover-text-decoration !default;
$badge-btn-hover-border-color: none !default;
$badge-btn-hover-background-color: var(--color, $ui-color-gray-500) !default;
$badge-btn-hover-box-shadow: 0 5px 10px 0 rgba($ui-color-black, 0.10) !default;

// Badges
$badge-types: (
    text: (// name
        '': (
            0: (// breakpoint
                line-height: 1,
                font-weight: $ui-fw-bold,
                --badgeColor: var(--color, $ui-color-gray-500),
            ),
        ),
    ),
    rectangle: (
        '': (
            0: (
                padding: 0 8px,
                font-size: var(--fs-300),
                line-height: 2,
                font-weight: $ui-fw-bolder,
                border-radius: 50px,
                background-color: var(--background, $ui-color-gray-500),
                --badgeColor: var(--color, $ui-color-white),
            )
        ),
    ),
    rectangleSide: (
        '': (
            0: (
                padding: 0 8px 0 16px,
                font-size: var(--fs-300),
                line-height: 2,
                font-weight: $ui-fw-bolder,
                border-radius: 0 50px 50px 0,
                background-color: var(--background, $ui-color-gray-500),
                --badgeColor: var(--color, $ui-color-white),
            ),
        ),
    ),
    circle: (
        '': (
            0: (
                display: flex,
                align-items: center,
                justify-content: center,
                width: 32px,
                height: 32px,
                font-size: var(--fs-400),
                line-height: 1,
                font-weight: 700,
                border-radius: 50%,
                background-color: var(--background, $ui-color-gray-500),
                --badgeColor: var(--color, $ui-color-white),
            ),
            lg: (
                width: 54px,
                height: 54px,
                font-size: var(--fs-500),
            ),
        ),
        large: (
            0: (
                display: flex,
                align-items: center,
                justify-content: center,
                width: 40px,
                height: 40px,
                font-size: var(--fs-400),
                line-height: 1,
                font-weight: 700,
                border-radius: 50%,
                background-color: var(--background, $ui-color-gray-500),
                --badgeColor: var(--color, $ui-color-white),
            ),
            lg: (
                width: 54px,
                height: 54px,
                font-size: var(--fs-500),
            ),
        ),
    ),
    btn: (
        '': (
            0: (
                padding: 6px 15px,
                font-size: var(--fs-400),
                line-height: 1.333,
                font-weight: $ui-fw-bold,
                border: 1px solid var(--color, $ui-color-gray-500),
                border-radius: $ui-global-border-radius,
                --badgeColor: var(--color, $ui-color-gray-500),
                background-color: $ui-color-white,
            ),
        ),
    ),
) !default;
