@mixin container-reset($side: both) {
    @if ($side == left or $side == both) {
        margin-left: $container-gutter * -1;
    }

    @if ($side == right or $side == both) {
        margin-right: $container-gutter * -1;
    }
}

@mixin container-margin($side: both) {
    @if ($side == left or $side == both) {
        margin-left: $container-gutter;
    }

    @if ($side == right or $side == both) {
        margin-right: $container-gutter;
    }
}

@mixin container-padding($side: both) {
    @if ($side == left or $side == both) {
        padding-left: $container-gutter;
    }

    @if ($side == right or $side == both) {
        padding-right: $container-gutter;
    }
}
